<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<form action="/myclass/insert" method="get">
		<div>
			<label>name:</label>
			<input type="text" name="name" value="">
		</div>
		<div>
			<label>age:</label>
			<input type="text" name="age" value="">
		</div>
		<div>
			<label>address:</label>
			<input type="text" name="address" value="">
		</div>
		<div>
			<label>score:</label>
			<input type="text" name="score" value="">
		</div>
		
		<input type="submit" value="提交" />
	</form>
	<div>
		<p>搜索</p>
		<input type="text" id="search" placeholder="请输入搜索内容……">
		<button id="searchBtn">搜索</button>
	</div>
	
<script type="text/javascript" src="/resources/js/jquery.min.js"></script>
<script type="text/javascript">
	$("#searchBtn").click(function(){
		var value = ("#search").val();
		window.location.href="/myclass/select?name="+value;
	})

</script>
</body>
<footer>

</footer>
</html>